* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 0;
  background-color: #1d1d1d;
  width: 90%;
  color: white;
  background-image: url(../images/wallpaper.jpeg);
  background-size: cover;
}

header {
  background-image: url("../images/header.jpg");
  color: #ffffff;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 90%;
  margin: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

main {
  background-color: #2d2d2d;
  padding: 20px;
  margin-top: 20px;
  width: 90%;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: #333333;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

footer {
  background-color: #333333;
  color: white;
  text-align: right;
  padding: 15px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 0px 3px 3px #000000;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding-top: 80px;
}

article {
  background-color: #3d3d3d;
  padding: 20px;
  border-radius: 5px;
}

aside {
  background-color: #3d3d3d;
  padding: 20px;
  border-radius: 5px;
}

h1, h2, h3 {
  color: #ffffff;
}

form {
  color: white;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #ff1c1c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #680000;
}

.comentario {
  background-color: #4d4d4d;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-bottom: 1px solid #666666;
}

.avatar {
    width: 76px;
    height: 70px;
    /* border-radius: 50%; */
    display: inline-block;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    /* border-left: 1px solid #ffffff; */
}

.comentario strong {
    color: #ff1c1c;
    inline-size: auto;
    position: absolute;
    padding: 5px;
}

.trapper {background-image: url(../images/killers/trapper.jpg);}
.wraith {background-image: url(../images/killers/wraith.jpg);}
.hillbilly {background-image: url(../images/killers/hillbilly.jpg);}
.dwight {background-image: url(../images/survivors/dwight.jpg);}
.meg {background-image: url(../images/survivors/meg.jpg);}
.feng {background-image: url(../images/survivors/feng.jpg);}