* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 0;
  background-color: #1d1d1d;
  width: 90%;
  color: white;
  background-image: url(../images/wallpaper.jpeg);
  background-size: cover;
}

header {
  background-image: url("../images/header.jpg");
  color: #ffffff;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 90%;
  margin: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

main {
  background-color: #2d2d2d;
  padding: 20px;
  margin-top: 20px;
  width: 90%;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: #333333;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

footer {
  background-color: #333333;
  color: white;
  text-align: right;
  padding: 15px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 0px 3px 3px #000000;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding-top: 80px;
}
