* {box-sizing: border-box;}

body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    background-color: #1d1d1d;
    width: 90%;
    color: white;
}

header {
    background-image: url('../images/header.jpg');
    color: #ffffff;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 90%;
    margin: auto;
}

nav {   
    width: 90%;
    margin: auto;
}

main {
    background-color: #2d2d2d;
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: #333333;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

footer {
    background-color: #333333;
    color: white;
    text-align: right;
    padding: 15px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

main {
 display: grid;
 grid-template-columns: 3fr 1fr;
 gap: 20px; 
 padding-top: 80px;
}


